<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
  <h1>Hola Mundo</h1>
  <button @click="goToDaybook" class="btn btn-primary">luis</button>
  <button class="btn btn-secondary">luis</button>
  <button class="btn btn-success">luis</button>
  </div>
</template>

<script>

export default {
  name: 'HomeView',
  components: {

  },
  methods: {
    goToDaybook(){
      this.$router.push({name: 'no-entry'})
    }
  }
}
</script>
